@page
@using Lucrare_de_licenta.Models
@using System.Diagnostics
@using Adventour.Data;
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principala";
    List<string> continente = new List<string>
    {
        "Europa","Africa","Asia","America de Nord","America de Sud"
    };
    List<Tara> lista_test = new List<Tara>
    {
        new Tara
        {
            cod_tara = 1,
            den_tara = "Portugalia",
            continent = 1,
            img_tara = "Resources\\Tari\\Portugalia.jpg"
        }
    };
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<form method="get" id="search">
    <div id="search-container">
        <img class="icon" src="./resources/icons/search.svg" />
        <label for="destination" >Destiantie</label>
        <input list="destinations" name="destination" />
        <div id="dest-suggestii" class="sugestii hidden">
            @{
                foreach(Tara tara in lista_test)
                {
                    <div
                    class="dest-item"
                    onclick=""
                    onmouseover=""
                    >
                    @tara.den_tara</div>
                }
            }
            
        </div>        
        <img class="icon" src="./Resources/Icons/calendar.svg" />
        <label for="month">Luna de plecare</label>
        <select name="month">
            <option value="">Oricand</option>
            @{
                var now = DateTime.Now;
                for(int i=0;i<=12;i++)
                {
                    var month = now.AddMonths(i);
                    var val = month.ToString("MM-YYYY");
                    var txt = month.ToString("MMMM yyyy", 
                    System.Globalization.CultureInfo.CurrentCulture);
                    <option value="@val">@txt</option>
                }

            }
        </select>
        <button class="c-button" type="button">Caută</button>
    </div>
</form>

@*RECOMANDARILE SITE-ULUI*@
<div id="container-destinatii">
    @{
        foreach(Tara tara in lista_test)
        {
            <a class="card-destinatie" href="/">
                <img class="cd-img" src="@tara.img_tara" />
                <div class="cd-title">
                    @tara.den_tara
                </div>
                @*call to action*@
                <div class="cd-cta">
                    Caută acum
                </div>
            </a>
        }
    }
</div>

<div id="container-continente">
    @{
        foreach(string continent in continente)
        {
            <a class="card-continent" href="/">
                <img class="cc-img" src="~/Resources/Stock/@(continent).jpg"/>
                <div class="cc-title">
                    @continent
                </div>
            </a>
        }
    }
</div>