@page
@using Lucrare_de_licenta.Models
@using System.Diagnostics
@using Adventour.Data;
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principala";
    List<Tara> lista_test = new List<Tara>
    {
        new Tara
        {
            cod_tara = 1,
            den_tara = "Portugalia",
            continent = 1,
            img_tara = Model.Imagepath + "\\Tari\\Portugalia.jpg"
        }
    };
    List<int> coduriContinente = lista_test.Select(t => t.continent).ToList();
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<form method="get">
    <div id="search-container" class="row gap-2 justify-content-center align-items-center">
        <div class="form-floating col-12 col-md-3">
            <input class="form-control" name="destination" placeholder="Destinatie" />
            <label for="destination">Destiantie</label>
        </div>
        @* Caseta de sugestii pentru inputul respectiv
        <div id="dest-suggestii" class="sugestii hidden">
            @{
                foreach(Tara tara in lista_test)
                {
                    <div
                    class="dest-item"
                    onclick=""
                    onmouseover=""
                    >
                    @tara.den_tara</div>
                }
            }
        </div> 
        *@
        <div class="form-floating col-12 col-md-3">
            <input class="form-control" name="plecare" placeholder="Plecare" />
            <label for="plecare">Plecare Din</label>
        </div>
        <div class="form-floating col-12 col-md-2">
            <select class="form-select" name="month">
                <option value="">Oricand</option>
                @{
                    var now = DateTime.Now;
                    for (int i = 0; i <= 12; i++)
                    {
                        var month = now.AddMonths(i);
                        var val = month.ToString("MM-YYYY");
                        var txt = month.ToString("MMMM yyyy",
                        System.Globalization.CultureInfo.CurrentCulture);
                        <option value="@val">@txt</option>
                    }

                }
            </select>
            <label for="month">Luna</label>
        </div>
        <div class="form-floating col-1">
            <input type="number"
                    class="form-control"
                    name="persoane"
                    value="1"
                    min="1"
                    max="10">
            <label for="persoane">Pers.</label>
        </div>
        <div class="d-flex align-items-stretch col-12 col-md-1">
            <button class="btn c-button h-100 " type="button">Caută</button>
        </div>
    </div>
</form>

@*RECOMANDARILE SITE-ULUI*@
<div id="container-destinatii">
    @{
        foreach(Tara tara in lista_test)
        {
            <a class="card-destinatie" href="/">
                <img class="cd-img" src="@tara.img_tara" />
                <div class="cd-title">
                    @tara.den_tara
                </div>
                @*call to action*@
                <div class="cd-cta">
                    Caută acum
                </div>
            </a>
        }
    }
</div>

<div id="container-continente">
    @{
        foreach(int codContinent in coduriContinente)
        {
            <a class="card-continent" href="/">
                <img class="cc-img" src="~/Resources/Continente/@(codContinent).svg"/>
                <div class="cc-title">
                    @switch (codContinent)
                    {
                        case 1:
                            <text>Europa</text>;
                            break;
                        case 2:
                            <text>Africa</text>;
                            break;
                        case 3:
                            <text>Asia</text>;
                            break;
                        case 4:
                            <text>America de Nord</text>;
                            break;
                        case 5:
                            <text>America de Sud</text>;
                            break;
                    }
                </div>
            </a>
        }
    }
</div>