@page
@using System.Globalization
@model Lucrare_de_licenta.Pages.TourModel
@{
    ViewData["Title"] = Model.Tur.den_tur;
}


<link rel="stylesheet" href="~/css/tour.css" />

<div class="container-fluid">
    <div class="row">
        <div class="cold-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="@Model.Tur.img_tur"
                    class="card-img-top"
                     style="height: 400px; object-fit: cover;" />
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div class="card-header mb-3">
            <h2 class="card-title mb-0" style="font-family:Quicksand">
                @Model.Tur.den_tur
            </h2>
        </div>
        @if (!string.IsNullOrEmpty(Model.Tur.desc_tur))
        {
            <div class="card-body my-3">
                <div class="mb-4">
                    <p class="text-muted">@Model.Tur.desc_tur</p>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="row align-items-center border rounded py-2 px-5 text-center">
                    <div class="col">
                    @if(Model.Oferte.Any() || !(Model.Oferte == null))
                    {
                        // daca exista o oferta cu transport == false => avion == true
                        // similar pentru avion
                        var avion = Model.Oferte.Any(o => !o.tip_transport);
                        var bus = Model.Oferte.Any(o => o.tip_transport);
                        if(bus)
                        {
                            <img class="img-fluid" style="height:50px"
                                src="~/Resources/Icons/bus.png"/>
                        }
                        if(avion)
                        {
                            <img class="img-fluid" style="height:50px"
                                src="~/Resources/Icons/airplane.png"/>
                        }
                    }
                    </div>
                    <div class="col">
                        @Model.Itinerarii.LastOrDefault().zi_activitate zile / 
                        @(Model.Itinerarii.LastOrDefault().zi_activitate - 1) nopti
                    </div>
                    @if(Model.Pret_Min()!= null)
                    {
                       <div class="col" style="font-size:12px">
                           De la <br />
                            <strong style="font-size:20px"> 
                                @Model.Pret_Min()&euro; 
                            </strong> <br />
                           pe persoana</div>
                    }else
                    {
                        <div class="text-danger">Nu exista oferte disponibile la momentul actual</div>
                    }
                </div>
            </div>
            <div class="col-sm-6 mb-3 p-0 pe-3">
                <div class="border rounded p-3 text-center">
                    <i class="fas fa-dumbbell text-warning fa-2x mb-2"></i>
                    <h6 class="mb-2">Solicitare Fizica</h6>
                    @* Graficul ce reprezinta dificultatea fizica a turului*@
                    <div class="physical-level-container mb-2">
                        @{
                            var inaltime_max = 100;
                            var latime_max = 250;
                        }
                        <svg class="physical-level-bar" viewBox="0 0 @latime_max @inaltime_max">
                            <line stroke="lightgray" stroke-width="1px"
                                  x1="0" x2="@latime_max" y1="@inaltime_max" y2="@inaltime_max"></line>
                            @for (int i = 1; i <= 5; i++)
                            {
                                var latime = 50*i;
                                var inaltime = 20*i;

                                var p1 = $"{latime_max/2},{inaltime_max-inaltime}";
                                var p2 = $"{(latime_max / 2) - (latime / 2)},{inaltime_max}";
                                var p3 = $"{(latime_max / 2) + (latime / 2)},{inaltime_max}";
                                var puncte = $"{p1} {p2} {p3}";
                                <polygon class="level-segment @(i <= Model.Tur.sol_fiz ? "active" : "inactive")"
                                points="@puncte" data-level="@i">
                                </polygon>
                            }
                        </svg>
                    </div>
                    <small class="text-muted">
                         @Model.Tur.sol_fiz din 5
                    </small>
                </div>
            </div>

            <div class="col-sm-6 mb-3 p-0 ps-3">
                <div class="border rounded p-3 text-center h-100">
                    <i class="fas fa-users text-success fa-2x mb-2"></i>
                    <h6>Marimea Grupului</h6>
                    <img class="" style="height:60px"
                        src="~/Resources/Icons/group.svg"/>
                    <p>
                        Minim @Model.Tur.grup_minim <br />
                        Maxim @Model.Tur.grup_maxim
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 order-1 order-md-0">
            <h3>Itinerariu</h3>
            @foreach(Itinerariu i in Model.Itinerarii)
            {
                <div class="accordion-item itinerariu">
                    <h5 class="accordion-header">
                            <button class="accordion-button" 
                                    type="button"
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#collapse_@i.cod_itinerariu">
                            Ziua @i.zi_activitate - @i.titlu_itin
                        </button>
                    </h5>
                    <div id="collapse_@i.cod_itinerariu" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            @if(!string.IsNullOrEmpty(i.img_itin))
                            {
                                <img src="@Model.Imagepath@i.img_itin"/>
                            }
                            @foreach(string textDest in Model.GetItinDestText(i.cod_itinerariu))
                            {
                                <span class="badge text-dark">@textDest</span>
                            }
                            <br />
                            @i.desc_itin
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1">
            <h3>Oferte</h3>
            <div class="">
                @if (Model.Oferte.Any())
                {
                    @foreach (Oferta o in Model.Oferte)
                    {
                        <div class="card offer-card mb-3 shadow-sm">
                            <div class="row g-0 p-1">
                                <div class="col-lg-2 d-flex align-items-center justify-content-center p-2">
                                    @{
                                        var transImg = o.tip_transport == false ? "airplane.png" : "bus.png";
                                    }
                                    <img class="img-fluid" style="height:40px"
                                    src="~/Resources/Icons/@transImg" />
                                </div>
                                <div class="col-lg-6 card-body p-2">
                                    <div class="d-flex flex-wrap align-baseline">
                                        <span class="mb-0 me-3">
                                            <strong> Plecare: </strong>
                                            @o.Punct?.localitate
                                            <small>
                                                @(o.Punct?.judet != null ? ", " + o.Punct.judet : "")
                                            </small>
                                        </span>
                                        <span class="text-muted">
                                            @o.data_plecare.ToString("dddd", new CultureInfo("ro-RO"))
                                            @o.data_plecare
                                        </span>
                                    </div>
                                    <div class="d-flex flex-wrap align-baseline mt-2">
                                        <span class="mb-0 me-3">
                                            <strong>Intoarcere:</strong>
                                        </span>
                                        <span class="text-muted">
                                            @o.data_intoarcere.ToString("dddd", new CultureInfo("ro-RO"))
                                            @o.data_intoarcere
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-2 d-flex align-items-center justify-content-end p-2">
                                    <div class="text-end me-3">
                                    <strong>@o.loc_libere</strong><br/>
                                    locuri libere
                                    </div>
                                </div>
                                <div class="col-lg-2 d-flex align-items-center justify-content-end p-2">
                                    <div class="text-end me-3">
                                        <div class="price-adult">
                                            <strong>@o.pret_adult&euro;</strong>
                                            <span class="fw-normal text-muted">/ adult</span>
                                            </div>
                                        @if (o.pret_copil > 0)
                                        {
                                            <div class="price-child small text-muted">@o.pret_copil&euro; / copil</div>
                                        }
                                    </div>

                                </div>
                                <a asp-page="/Booking/Index" asp-route-cod_oferta="@o.cod_oferta" class="stretched-link">
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-danger">Nu exista oferte disponibile la momentul actual</div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const departurePointSelect = document.getElementById('departurePointSelect');
            if (departurePointSelect) {
                departurePointSelect.addEventListener('change', function () {
                    this.form.submit();
                });
            }
        });
    </script>
}