@page
@model Lucrare_de_licenta.Pages.TourModel
@{
    ViewData["Title"] = Model.Tur.den_tur;
}
<link rel="stylesheet" href="~/css/tour.css" />
<div class="container-fluid">
    <div class="row">
        <div class="cold-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="@Model.Tur.img_tur"
                    class="card-img-top"
                     style="height: 400px; object-fit: cover;" />
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="card-header bg-primary text-white">
            <h2 class="card-title mb-0">@Model.Tur.den_tur</h2>
        </div>
        <div class="card-body">
            @if (!string.IsNullOrEmpty(Model.Tur.desc_tur))
            {
                <div class="mb-4">
                    <h5><i class="fas fa-info-circle text-info"></i> Description</h5>
                    <p class="text-muted">@Model.Tur.desc_tur</p>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="border rounded p-3 text-center">
                    <i class="fas fa-dumbbell text-warning fa-2x mb-2"></i>
                    <h6 class="mb-2">Solicitare Fizica</h6>

                    <div class="physical-level-container mb-2">
                        <div class="physical-level-bar">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <div class="level-segment @(i <= Model.Tur.sol_fiz ? "active" : "inactive")">
                                </div>
                            }
                        </div>
                    </div>

                    <small class="text-muted">
                         @Model.Tur.sol_fiz din 5
                    </small>
                </div>
            </div>

            <div class="col-sm-6 mb-3">
                <div class="border rounded p-3 text-center">
                    <i class="fas fa-users text-success fa-2x mb-2"></i>
                    <h6>Marimea Grupului</h6>
                    <strong>@Model.Tur.grup_minim - @Model.Tur.grup_maxim persoane</strong>
                </div>
            </div>
        </div>
    </div>

    @* TESTE *@
    <div>
        tur categorii : @Model.Tururi_Categorii.Count
        categorii : @Model.Categorii.Count
        itinerarii : @Model.Itinerarii.Count
        cazari : @Model.Cazari.Count
        dest_itin : @Model.Destinatii_Itinerarii.Count
        destinatii : @Model.Destinatii.Count
        tari : @Model.Tari.Count
        oferte : @Model.Oferte.Count
        puncte plecare : @Model.Puncte_Plecare.Count

    </div>
</div>